*{
    box-sizing: border-box;
}
.kogutoo{
    background-image: url("./assets/portfooliotaust.jfif");
    background-repeat: none;
    background-size: cover;

}
.kaart2{
    font-family: monospace;
    color: rgb(0, 0, 0);
    background-image: url("./assets/background3.jfif");
    background-size: cover;
}
.kaart1{
    font-family: fantasy;
    color: crimson;
    background-image: url("./assets/background2.jfif");
    background-size: cover;
}
.kaart3{
    color: rgb(3, 3, 3);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("./assets/background4.jpg");
    background-size: cover;
}
.kaart4{
    color: crimson;
    font-weight: 600;
    background-image: url("./assets/fruitybackground");
    background-size: cover;
}
.kaart5{
    color: rgb(3, 3, 3);
    background-image: url("./assets/matka-app-taust2.jfif");
    background-size: cover;
    color: rgb(189, 27, 27);
    font-weight: 600;
}
.kaart6{
    color: rgb(3, 3, 3);
    background-image: url("./assets/admin-page.jpg");
    background-size: cover;
    color: rgb(211, 211, 211);
    font-weight: 600; 
}

@media screen and (min-width: 1000px) {
    body{
        background-color: blanchedalmond;
    }
    .card{ 
        width: 30%;
     }
}
@media screen and (min-width: 600px) {
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        margin-top: 15px;
       margin-right: 20px;
     
    }
    
}
.naidispilt{
    height: 166px;
}
h1{
    font-weight: 500;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-style: italic;
}
